# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Ignore all iOS files except icon folders
ios/
!ios/App/App/Assets.xcassets/AppIcon.appiconset/
!ios/App/App/Assets.xcassets/AppIcon.appiconset/**

# Ignore all Android files except icon folders
android/
!android/app/src/main/res/mipmap-*/
!android/app/src/main/res/mipmap-*/ic_launcher*.png

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
